<div class="modal fade" id="addProductModal" tabindex="-1" role="dialog"                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-tecno">
            <div class="modal-header">
            <h5 class="modal-title" id="modalTitle">Agregar producto</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form action="/products/create" method="POST" class="form-modal-edit">
                    <div>
                        <label for="nombre">Nombre</label>
                        <input type="text" name="nombre" id="nombre-modal">
                    </div>
                    <section class="price-fields">
                            <div>
                                <label for="moneda">Moneda</label>
                                <select name="moneda" id="moneda">
                                    <option value="" disabled selected>--Moneda--</option>
                                    <option value="$">$</option>
                                    <option value="USD">U$S</option>
                                </select>
                            </div>

                            <div>
                                <label for="precio">Precio</label>
                                <input type="number" name="precio" id="precio-modal">
                            </div>
                    </section>
                    <div>
                        <label for="categoria">Categoria</label>
                        <input type="text" name="categoria" id="categoria-modal">
                    </div>
                    <label>Envío gratis</label>
                    <div class="input-shipping">
                        <input type="radio" name="shipping" id="shipping1" value="true">
                        <label for="shipping1"> Si </label>
                      </div>
                      <div class="input-shipping">
                        <input type="radio" name="shipping" id="shipping2" value="false" checked>
                        <label for="shipping2"> No </label>
                      </div>                 
                    <div>
                        <img id="imagen-modal" src="" width="150px">
                        <input type="file" name="imagen">
                    </div>
                    <div>
                        <textarea name="descripcion" id="descripcion" cols="30" rows="5" placeholder="Describe tu producto" width="100%"></textarea>
                    </div>
               
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </form>
        </div>
    </div>
</div>

<script>

</script>