<header class="header-home <%= locals.helpClass ? helpClass : '' %>">
    <div class="contenedor-header">
        <section class="logo">
            <a href="/"><img src="/images/logo_1.webp" alt="Logo" class="logo-mobile"></a>
            <a href="/"><img src="/images/logo_1.webp" alt="Logo" class="tablet"></a>
        </section>
        <nav class="desktop">
            <ul>
                <li> <a href="/"> Inicio </a> </li>
                <li> <a href="#"> Nosotros </a> </li>
                <li> <a href="#"> Propiedades </a> </li>
            </ul>
        </nav>
        <a class="contact-phone" href="#"><i class="fas fa-phone-alt"></i> +598 99 999 999</a>
        <section class="iconos-header">
            <nav class="mobile" id="mobile-menu-icon">
                <i class="fas fa-ellipsis-v"></i>
            </nav>
            <a href="/login"><i class="fas fa-user user-account-icon"></i> </a>
        </section>
    </div>
    <div class="mobile-menu">
        <ul>
            <li> <a href="/"> Inicio </a> </li>
            <li> <a href="#"> Nosotros </a> </li>
            <li> <a href="/properties"> Propiedades </a> </li>
        </ul>
    </div>
</header>
