<div class="property-filter">
    <h3>ENCUENTRA TU LUGAR</h3>
    <form action="" class="search-form">
        <div class="search--form-field">
            <label for="bedrooms">Dormitorios</label>
            <select name="bedrooms" id="bedrooms">
                <option value="1"> 1 </option>
                <option value="2"> 2 </option>
                <option value="3"> 3 </option>
                <option value="4"> 4 </option>
                <option value="5"> 5 </option>
                <option value="6+"> 6+ </option>
            </select>
        </div>
        <div class="search--form-field">
            <label for="operation">Operación</label>
            <select name="operation" id="operation">
                <option value="venta"> Venta </option>
                <option value="alquiler"> Alquiler </option>
                <option value="ventaYalquiler"> Venta/Alquiler </option>
            </select>                    
        </div>
        <div class="search--form-field">
            <label for="type">Tipo de Propiedad</label>
            <select name="type" id="type">
                <option value="apartamento">Apartamento</option>
                <option value="casa"> Casa </option>
                <option value="campo"> Campo</option>
                <option value="chacra"> Chacra </option>
                <option value="local"> Local Comercial</option>
            </select>                    
        </div>
        <button type="submit">Buscar <i class="fas fa-search"></i> </button>
    </form>
</div>     