<section class="features-container">
    <h2>Comodidades</h2>
    <div class="features">
        <div class="feature">
            <i class="fas fa-toilet"></i>
            <span><%= property.toilets %></span>
        </div>
        <div class="feature">
            <i class="fas fa-bed"></i>
            <span><%= property.bedrooms %></span>
        </div>
        <div class="feature">
            <i class="fas fa-car"></i>
            <span><%= property.garage %></span>
        </div>
    </div>
    <section class="propertyFeatures">
            <% for(propertyComodidad of propertyComodidades) { %>
                <div>
                    <p><%= propertyComodidad.name %></p>
                    <i class="fas fa-check-square"></i>
                </div>
            <% } %>
    </section>
</section>