h1{
    text-align: center;
}

.img-perfil{
    text-align: center;
    margin-bottom: 20px;
    background: linear-gradient(290deg, #3586ff, #1950a1d6);
}
.perfil-subtitle{
    font-size: 17px;
    font-weight: bold;
    text-align:center;
    color: white;

}
.card{
    background-color:black;
    text-align: center;
}
.m-3{
    color: white;
    padding-bottom: 9px;
}
.info_perfil{
    margin-bottom: 10px;
}

.header-perfil {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    
    align-items: center;
    gap: .5rem;
    padding: 1rem;
}

.vmobile  {
    font-size:30px;
    cursor: pointer;
    color: black;
}
.mi-perfiltitle{
    font-weight: bold;
}
.perfil_button{
    text-align: center;
}
.boton_perfil{
    margin: 20px;
    padding: 10px;
    background-color:#3586ff ;
    color: white;
    border: none;
    border-radius: 5px;
    transition: all 450ms;
}
.boton_perfil:hover{
    background-color: blue;
}
.info_perfil{
    text-align: center;
    color: black;
    padding: 3px;
}
@media (min-width: 765px){

    .mi-perfiltitle,.header-perfil{
    display: none;
    }
    .col-md-8 {
        position: relative;
        left: 250px;
        
    }
}
@media (max-width: 425px){
    .col-md-8{
        position: relative;
        left: 150px;
    }
    .barra-lateral{
        visibility: visible;
    }

}
