.footer {
    margin-top: 10rem;
    height: 221px;
    background-color: #3586ff;
    text-align: center;
    position: relative;

    .wave1 {
        background-image: url(/images/wave.png);
        height: 100px;
        position: absolute;
        top: -96px;
        left: 0;
        width: 100%;
    }
    .social-icons {
        display: flex;
        gap: 1.6rem;
        justify-content: center;
        padding: 30px;
        font-size: 3rem;

        a {
            color: #fff;
            transition: all 0.5s;

            &:hover {
                transform: translateY(-10px);
            }
        }
    }
    .nav-footer {

        ul {
            display: none;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            
            li {

                a {
                    color: #fff;
                    opacity: 0.75;

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
    .copy {
        color: #fff;
    }
}

@media(min-width: 769px) {
    .nav-footer {

        ul {
            display: flex;
        }
    }
}