.body-login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url(/images/bg-login.webp);
    background-size: cover;
    background-repeat: no-repeat;

    .login-form {
        border-radius: 15px;
        box-shadow: 5px 5px 20px black;
        padding: 3rem 0;
        min-width: 400px;
        background: linear-gradient(45deg, #ff14e2, #079da5);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
            width: 100px;
            margin: 10px auto;
        }

        form {
            padding: 0 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            width: 100%;

            div {
                display: flex;
                flex-direction: column;
                width: 100%;

                label {
                    color: #fff;
                    line-height: 18px;
                    font-size: 1.2rem;
                }

                input {
                    padding: 1rem 1rem .2rem 1rem;
                    background-color: transparent;
                    border-bottom: 1px solid #fff;
                    color: #fff;

                    &:focus {
                        background-color: transparent;
                        border-radius: 6px;
                    }

                    &::placeholder {
                        color: #fff;
                    }
                }
            }
            
            button {
                color: #fff;
                border: 1px solid #ffffff40;
                width: 80%;

                &:hover {
                    font-weight: 700;
                    transform: scale(1.1);
                    box-shadow: 5px 5px 15px #ffffff57;
                    border-radius: 15px;
                }
            }
        }
    }
}