.property-filter {
    border: 1px solid white;
    margin: 0 auto;
    background: linear-gradient(45deg,#394253,#000000c2);

    h3 {
        color: #fff;
        padding: 1rem;
        text-align: center;
    }
    .more-options {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        gap: 1rem;
        margin: 1rem;
        padding: 0.5rem;
        text-align: center;
        grid-column: 1 / 3;
    }
}
.search-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

   
    button {
        padding: 1rem 0;
        width: 100%;
        border: 0;
        background-color: #6495eda8;
        color: #fff;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        border-radius: 5px;
    }
}
.search--form-field {
    padding: 2rem 1rem;
    border-top: 1px solid #80808047;
    margin-bottom: 5px;

    &:last-child {
        border-bottom: 1px solid #80808047;
    }

    label {
        display: block;
        font-weight: 700;
        color: #ede7e7;
    }

    select,
    input {
        padding: 1rem;
        width: 100%;
        border: 0;
        border-radius: 5px;
        background: #2e3035;
        color: #ede7e7;
    }
    p {
        color: #fff;
    }

}
.adicionales {
    display: none;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 1 / 3;
    transition: all .3s;
}
.mostrar {
    display: grid;
}

@media(min-width: 992px) {
    .property-filter {
        background: linear-gradient(45deg,#000,transparent);
        border: 0;
        top: 245px;
        width: 80%;
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        min-height: 150px;

        .more-options {
            grid-column: 1 / 5;
        }
    }
    .search-form {
        @include grid(4);
        
        button {
            padding: .7rem 1rem;
            width: auto;
        }
        .search--form-field {
            padding: 0 1rem;
            border: 0;

            option {
                color: #000;
            }
        }
    }
    .adicionales {
        grid-template-columns: repeat(4, 1fr);
        grid-column: 1 / 5;
    }
}
