.most-featured-properties {
    display: grid;
    gap: 1rem;
    padding: 2rem 0;
}
.property {
    position: relative;
    background-color: #fff;
    box-shadow: -1px 1px 8px 0px rgba(0,0,0,0.25);
    border-radius: 4px;
    padding-bottom: 1rem;
    overflow: hidden;
    cursor: pointer;

    h3 {
        text-align: center;
        font-weight: 700;
        padding: 1rem 0;
    }
    .ref {
        margin: 0;
        margin-left: 10px;
        color: grey;
    }
    .address {
        padding: .5rem 1rem;
        text-decoration: underline;
        color: #0073bd;
    }
    .info {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;

        .price {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 1rem;
            color: #0073bd;
            font-weight: 700;
    
            
            .consultarPrecio {
                font-size: 1.5rem;
                line-height: 15px;
            }
            .fa-whatsapp {
                font-size: 2.5rem;
            }
        }
    }

    .operationType {
        position: absolute;
        border-radius: 3px;
        color: #fff;
        font-weight: 700;
        padding: 0 .2rem;
        left: 5px;
        bottom: 18px;
        display: inline-table;
        z-index: 9999;
        font-size: 1.5rem;
    }
    .propertyType {
        position: absolute;
        bottom: 0;
        left: 5px;
        z-index: 9999;
        color: #fff;
        font-weight: 700;
        font-size: 1.2rem;
    }
    .fa-bookmark {
        position: absolute;
        right: 10px;
        top: 0;
        z-index: 110;
        color: #ffc100;
        font-size: 3rem;
    }
}
.features {
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    .feature {
        display: flex;
        gap: .2rem;

        p {
            font-weight: 100;
        }

        i {
            font-size: 2.5rem;
            color: #000000a1;
        }
    }
}
.property-image {
    position: relative;
    transition: all .3s;
    overflow: hidden;

    .gradient {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        z-index: 100;
        background: linear-gradient(179deg,#00000099,#00000026);
    }


    img {
        width: 100%;
        transition: all .5s;
    }

    &:hover img {
        transform: scale(1.1);
        overflow: hidden;
    }
}

@media(min-width: 769px) {
    .property {
        h3 {
            text-align: left;
            margin-left: 1rem;
        }
        .propertyType, .operationType {
            font-size: 1.4rem;
        }
    }
}

@media(min-width: 992px) {
    .property {
        
    }
}

.tag-alquiler {
    background-color: #ff3c01ed;
}
.tag-venta {
    background-color: #0297dfed;
}

.financiacion {
    letter-spacing: 0.5px;
    font-size: 1rem;
    padding: .2rem .5rem;
    margin-right: 5px;
    background-color: #ff0000e6;
    color: #fff;
    border-radius: 10px;
    text-align: center;
}