.property-detail {
    padding: 120px 0;

    h1 {
        font-weight: bold;
        padding: 1rem;
    }
    h2 {
        text-align: center;
        text-transform: uppercase;
        font-weight: 100;
    }
    .buttons {
        display: flex;
        justify-content: center;
        gap: 1rem;
        padding: 1rem;

        button {
            border: 1px solid gray;
            padding: 0.2rem 1rem;
            border-radius: 5px;
            background-color: #7b00b9;
            color: white;
            box-shadow: 1px 0px 7px 4px #00000052;
        }
    }
    .informacion {
        grid-column: 2 / 3;
        grid-row: 1/2;
        div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #8080804d;
            padding: 0.2rem 0.5rem;
            p {
                margin: 0;
                padding: 0;
            }
        }
        span {
            font-weight: bold;
        }
        .badge-detail {
            font-size: 1rem;
            letter-spacing: .5px;
            margin-right: 5px;
            padding: 0.2rem 0.5rem;
            text-align: center;
            text-transform: uppercase;
        }
           
    }
    .property-detail--info {
        
        .descripcion {
            padding: 1rem;
        }
    }
    .features-container {
        border: 1px solid #80808085;
        border-radius: 5px;
        padding: 1rem 0.5rem;
    }
    .propertyFeatures {
        div {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}

@media(min-width: 769px) {
    .property-detail {
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;

        .buttons {
            display: none;
        }
        .property-detail--title {
            grid-column: 2/3;
            grid-row: 1/2;
            font-size: 3rem;
        }
        .informacion {
            margin-top: 6rem;
        }
    }
}