<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/header.ejs') %>   
    <main>
        <div class="encabezado-carrito">
            <div class="carrito-titulo">
                <div>
                    <i id="carro" class="fas fa-shopping-cart"></i>
                </div>
                <div class="h3-home">
                    <h3 id="carrito-h3">
                        CARRITO DE COMPRAS
                    </h3>
                </div>
            </div>
            <div class="detalle-producto-carrito-desktop">
                <div class="titulares-producto">
                    <h3 class="etiquetas-productos">Precio</h3>
                    <h3 class="etiquetas-productos">Cantidad</h3>
                    <h3 class="etiquetas-productos">Subtotal</h3>
                </div>
            </div>
        </div>
        <article class="articulo-carrito">
            <div class="producto-carrito">
                <img class="imagen-producto-carrito" src="/images/vaccum-robot.jpg" alt="Producto elegido 1">
                <p class="titulo-producto-carrito">Aspiradora Roboto X453</p>
                <div class="valores-producto-desktop">
                    <p class="precio-unitario">$10</p>
                    <div class="cantidad-producto">
                        <div class="recuadro-cantidad">
                            <div class="texto-recuadro" id="menos-mas">-</div>
                            <div class="texto-recuadro">1</div>
                            <div class="texto-recuadro" id="menos-mas">+</div>
                        </div>
                    </div>
                    <p class="subtotal">$200</p>
                </div>
                <div class="tacho-basura">
                    <i class="far fa-trash-alt" id="tachito"></i>
                </div>
            </div>
            <div class="detalle-producto-carrito">
                <div class="titulares-producto">
                    <p class="etiquetas-productos">Precio unitario</p>
                    <p class="etiquetas-productos">Cantidad</p>
                    <p class="etiquetas-productos">Subtotal</p>
                </div>
                <div class="valores-producto">
                    <p class="precio-unitario">$10</p>
                    <div class="cantidad-producto">
                        <div class="recuadro-cantidad">
                            <div class="texto-recuadro" id="menos-mas">-</div>
                            <div class="texto-recuadro">1</div>
                            <div class="texto-recuadro" id="menos-mas">+</div>
                        </div>
                    </div>
                    <p class="subtotal">$200</p>
                </div>
            </div>
        </article>
        <article class="articulo-carrito">
            <div class="producto-carrito">
                <img class="imagen-producto-carrito" src="/images/vaccum-robot.jpg" alt="Producto elegido 1">
                <p class="titulo-producto-carrito">Aspiradora Roboto X453</p>
                <div class="valores-producto-desktop">
                    <p class="precio-unitario">$10</p>
                    <div class="cantidad-producto">
                        <div class="recuadro-cantidad">
                            <div class="texto-recuadro" id="menos-mas">-</div>
                            <div class="texto-recuadro">1</div>
                            <div class="texto-recuadro" id="menos-mas">+</div>
                        </div>
                    </div>
                    <p class="subtotal">$200</p>
                </div>
                <div class="tacho-basura">
                    <i class="far fa-trash-alt" id="tachito"></i>
                </div>
            </div>
            <div class="detalle-producto-carrito">
                <div class="titulares-producto">
                    <p class="etiquetas-productos">Precio unitario</p>
                    <p class="etiquetas-productos">Cantidad</p>
                    <p class="etiquetas-productos">Subtotal</p>
                </div>
                <div class="valores-producto">
                    <p class="precio-unitario">$10</p>
                    <div class="cantidad-producto">
                        <div class="recuadro-cantidad">
                            <div class="texto-recuadro" id="menos-mas">-</div>
                            <div class="texto-recuadro">1</div>
                            <div class="texto-recuadro" id="menos-mas">+</div>
                        </div>
                    </div>
                    <p class="subtotal">$200</p>
                </div>
            </div>
        </article>
        <section class="features-carro">
            <div class="cupon-seguir">
                <section class="section-cupon-desktop">
                    <p class="texto-cupon">CUPÓN</p>
                    <form action="/productCart.html" method="post" class="formulario-cupon">
                        <input type="text" name="codigo-cupon" id="codigo-cupon" class="barra-texto" placeholder="Ingresá tu cupón">
                        <input type="submit" name="aceptar" value="ACEPTAR" class="boton-aceptar">
                    </form>
                </section>
                <section class="section-seguir-comprando-desktop">
                        <div class="flecha-atras"><i class="fas fa-arrow-alt-circle-left"></i></div>
                        <p class="seguircomprando-p">Seguir comprando</p>
                </section>
            </div>
            <section class="total-carrito-desktop">
                <div class="h3-home">
                    <h3>TOTAL DEL CARRITO</h3>
                    <hr class="separador">
                </div>
                <div class="total-detalle">Subtotal</div>
                <div class="total-detalle">Envío</div>
                <div class="total-detalle">TOTAL</div>
                <div class="finalizar-compra">
                    <p class="boton-finalizar-compra">FINALIZAR COMPRA</p>
                </div>
            </section>
        </section>
        <section class="section-cupon">
            <p>CUPÓN</p>
            <form action="/productCart.html" method="post" class="formulario-cupon">
                <input type="text" name="codigo-cupon" id="codigo-cupon" class="barra-texto" placeholder="Ingresá tu cupón">
                <input type="submit" name="aceptar" value="ACEPTAR" class="boton-aceptar">
            </form>
        </section>
        <section class="section-seguir-comprando">
                <div class="flecha-atras"><i class="fas fa-arrow-alt-circle-left"></i></div>
                <p>Seguir comprando</p>
        </section>
        <section class="total-carrito">
            <div class="h3-home">
                <h3>TOTAL DEL CARRITO</h3>
                <hr class="separador">
            </div>
            <div class="total-detalle">Subtotal</div>
            <div class="total-detalle">Envío</div>
            <div class="total-detalle">TOTAL</div>
            <div class="finalizar-compra">
                <p class="boton-finalizar-compra">FINALIZAR COMPRA</p>
            </div>
        </section>
    </main>
    <br>
    <br>
    <br>
    <br>
    <br>
    <%- include('../partials/footer.ejs') %>
</body>
</html>