<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs', {helpClass: 'header-property--detail'}) %>
    <main class="search-results--main">
        <div class="search-results-container">
            <h1>Resultados</h1>
            <section class="lista-propiedades">
                <% for(let property of propiedades) { %>
                    <%- include('../partials/singleProperty.ejs', {property: property}) %>
                <% } %>
            </section>
        </div>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>