<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/admin/head.ejs') %>
        <body>
            <%- include('../partials/admin/header.ejs') %>
                <main class="main-contenedor">
                    <%- include('../partials/admin/sidebar.ejs') %>
                    <div class="banner-pc"></div>
                    <%- include('./propertyForm.ejs') %>
                </main>
                <script src="/js/app-admin.min.js"></script>
        </body>
</html>