<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs', {helpClass: 'header-property--detail'}) %>
    <main class="search-results--main">
        <div class="search-results-container">
            <h1>Resultados</h1>
            <section class="lista-propiedades">
                <% if(properties.length != 0) { %>
                    <% for(let property of properties) { %>
                        <%- include('../partials/singleProperty.ejs', {property: property}) %>
                    <% } %>
                <% } else { %>
                    <p>No se encontraron resultados</p><br>
                    <a href="/">Volver al inicio</a>
                <% } %>
            </section>
        </div>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>