<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>    
    <body>
<%- include('../partials/header.ejs') %>   
 
    <form class="form-register" action="/login" method="POST">
        <span class="iniciar-sesion" ><strong>CREAR CUENTA</strong> </span>
        <div class="formulario">
        <input class="nombre" type="text" name="user" placeholder="Nombre de usuario">
        </div>
        <div class="">
            <input class="email" type="email" name="user" placeholder="Correo electrónico">
            </div>
        <div class="formulario">
            <input class="contraseña" type="password" name="password" placeholder="Ingresá contraseña">
            <label class="info"><i class="fas fa-info-circle"></i> La contraseña debe contener al menos seis caracteres.</label>
        </div> 
        <div class="formulario">
            <input class="contraseña" type="password" name="password" placeholder="Repita su contraseña">
            <label class="info"></label>
        </div> 
        <div class="formulario"> 
            <button class="boton-register" type="submit" value="">Crea tu cuenta de Tecnorobot </button>
        </div>
        <span class="text-register">Al crear una cuenta, aceptas las Condiciones de Uso y el Aviso de Privacidad de Tecnorobot.</span>
        
    </form>
   
    </main>
    <%- include('../partials/footer.ejs') %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>