.lista-propiedades {
    margin-top: 2rem;
    margin-bottom: 5rem;
    padding: .3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
}

@media(min-width: 769px) {
    .lista-propiedades {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(min-width: 992px) {
    .lista-propiedades {
        grid-template-columns: repeat(4, 1fr);
        gap: 1.2rem;
    }
}